@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    @if (Model.Pets != null)
	{
		@foreach(var pet in Model.Pets)
		{
			<div>
				<h1>@pet.Name</h1>
				<div>
					@pet.AnimalType
				</div>
			</div>
		}
	}
</div>

