@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck">
    @if (Model.Pets != null)
	{
		@foreach(var pet in Model.Pets)
		{
			<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
				<div class="card-header">
					@pet.Name
				</div>
				<div>
					@pet.AnimalType
				</div>
				<div class="card-footer text-center">
						<a asp-controller="home" asp-action="details" asp-route-id="@pet.Id"
					   class="btn btn-primary m-1">View</a>
					<a asp-controller="home" asp-action="edit" asp-route-id="@pet.Id"
					   class="btn btn-primary m-1">Edit</a>
					<a href="#" class="btn btn-danger m-1">Delete</a>
				</div>
			</div>
		}
	}
</div>

