
@{
	ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" action="signin">
	<p>
		<input type="text" id="username" name="username" placeholder="User" />
	</p>
	<p>
		<input type="text" id="password" name="password" placeholder="Password" />
	</p>
	<p>
		<input type="text" id="password" name="passwordconfirm" placeholder="Retype Password" />
	</p>
	<p>
		<input type="submit" onsubmit="" />
	</p>
</form>
