@model SignInViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form method="post">
        <p>
			<input type="text" id="email" name="email" placeholder="User" />
		</p>
        <p>
			<input type="text" id="password" name="password" placeholder="Password" />
		</p>
        <p>
			<input type="submit" onsubmit=""/>
		</p>
    </form>
</div>
